<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="${notice.name} + ' - 随书光盘资源管理系统'"></title>
    <base href="<%=basePath %>" >
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/notice.css">

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="top">
    <div class="top-context">
        <a class="logo"></a>
        <div class="nav-rights">
            <ul class="login-btns" th:if="${#strings.isEmpty(session.READER)}">
                <li class="login">
                    <a class="btn btn-primary" href="login.html">登录</a>
                </li>
                <li class="reg">
                    <a class="btn btn-default" href="">注册</a>
                </li>
            </ul>
            <ul class="login-btns" th:if="not ${#strings.isEmpty(session.READER)}">
                <li>
                    <a class="aa" href="reader_detail.html">个人中心</a>
                </li>
                <li class="reg">
                    <a class="aa" href="/logout.html">退出</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">首页</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="notice">
    <h2 align="center" th:text="${notice.name}"></h2>
    <div align="center">
        <font th:text="'发布日期：'+${#dates.format(notice.creatTime,'yyyy-MM-dd HH:mm:ss')}" ></font>
    </div>
    <div class="context" th:utext="${notice.context}">
    </div>
    <hr>
</div>
<div class="footer">
    <div class="foot-bot">
        <div class="b" style="line-height: 155px;margin: 0 auto;text-align: center;">
            <span>Copyright © 2020 内蒙古农业大学职业技术学院</span>
            <span>- 图书馆</span>
        </div>
    </div>
</div>
</body>
</html>