<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改密码</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reader.css">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="top">
    <div class="top-context">
        <a class="logo"></a>
        <div class="nav-rights">
            <ul class="login-btns">
                <li class="reg">
                    <a class="btn btn-default" href="/logout.html">退出</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">首页</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="header">
    <div class="user-info">
        <div class="w1200">
            <div class="user-headface">
                <img src="images/user_face.jpg">
            </div>
            <div class="user-account">
                <p class="tip" th:text="@{'欢迎您，'+${session.READER.name}}"></p>
                <p class="account">
                    <span th:text="@{'帐户名：'+${session.READER.name}}"></span>
                    <span th:text="@{'用户：'+${session.READER.readerId}}"></span>
                </p>
            </div>
<!--            <div class="user-modify">-->
<!--                <a href="reader_info_change.html">修改资料&gt;</a>-->
<!--            </div>-->
        </div>
    </div>
</div>

<div class="main w1200">
    <div class="left">
        <ul>
            <li>
                <a href="reader_detail.html" class="active">
                    <i class="glyphicon glyphicon-envelope"></i>
                    个人首页
                </a>
            </li>
            <li>
                <a href="reader_downloadhistory.html">
                    <i class="glyphicon glyphicon-time"></i>
                    下载历史
                </a>
            </li>
            <li>
                <a href="reader_info_change.html">
                    <i class="glyphicon glyphicon-user"></i>
                    修改资料
                </a>
            </li>
            <li>
                <a href="reader_pwd_change.html">
                    <i class="glyphicon glyphicon-pencil"></i>
                    修改密码
                </a>
            </li>
        </ul>
    </div>
    <div class="right">
        <div class="tap">
            <span>系统消息</span>
        </div>
        <div class="container">
            <div class="no-doc">
                <link rel="stylesheet" href="css/modernforms.css">
                <div class="">
                    <div class="modern-forms">
                        <div class="modern-container mc2">
                            <form id="changepwd" method="post" action="reader_pwd_change_do.html">
                                <fieldset>
                                    <div class="field-group prepend-icon">
                                        <input type="password" class="mdn-input" name="oldpasswd" id="oldpasswd" value="" placeholder="请输入旧密码" style="padding-left: 0;">
                                        <label class="mdn-label">旧密码</label>
                                        <span class="mdn-bar"></span>
                                    </div>
                                    <div class="field-group">
                                        <input type="password" class="mdn-input" name="newpasswd" id="newpasswd" value="" placeholder="请输入新密码">
                                        <label class="mdn-label">新密码</label>
                                        <span class="mdn-bar"></span>
                                    </div>
                                    <div class="field-group">
                                        <input type="password" class="mdn-input" name="renewpasswd" id="renewpasswd" value="" placeholder="重新输入新密码">
                                        <label class="mdn-label">重新输入新密码</label>
                                        <span class="mdn-bar"></span>
                                    </div>
                                </fieldset>
                                <div class="mdn-footer">
                                    <button type="submit" class="mdn-button btn-primary" style="background-color: #1b66e6;">修改</button>
                                </div>
                            </form>
                        </div><!-- modern-container -->
                    </div><!-- modern-forms -->


                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function mySubmit(flag){
        return flag;
    }
    $("#changepwd").submit(function () {
        if($("#oldpasswd").val()==''||$("#newpasswd").val()==''||$("#renewpasswd").val()==''){
            alert("请填入要修改的密码,不能为空！");
            return mySubmit(false);
        }
        if($("#newpasswd").val() != $("#renewpasswd").val()){
            alert("请填入两次新密码不同，请重新输入！");
            return mySubmit(false);
        }
    })
</script>
</html>