<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>搜索</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/search.css">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="top">
    <div class="top-context">
        <a class="logo"></a>
        <div class="nav-rights">
            <ul class="login-btns" th:if="${#strings.isEmpty(session.READER)}">
                <li class="login">
                    <a class="btn btn-primary" href="login.html">登录</a>
                </li>
                <li class="reg">
                    <a class="btn btn-default" href="">注册</a>
                </li>
            </ul>
            <ul class="login-btns" th:if="not ${#strings.isEmpty(session.READER)}">
                <li>
                    <a class="aa" href="reader_detail.html">个人中心</a>
                </li>
                <li class="reg">
                    <a class="aa" href="/logout.html">退出</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">首页</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="search">
    <div class="searchbox">
        <div class="mod_select">
            <div class="select_box">
                <span class="select_txt">书名</span>
                <span class="select-icon"></span>
                <ul class="option">
                    <li>书名</li>
                    <li>作者</li>
                    <li>出版社</li>
                    <li>isbn</li>
                </ul>
            </div>
        </div>
        <form action="search.html" method="get" accept-charset="UTF-8">
            <input type="hidden" name="searchType" value="name" id="select_value">
            <input type="text" name="searchWord" id="searchPlaceholder" class="import" placeholder="请输入书名">
            <input type="submit" value="" class="btn-search">
        </form>
    </div>
    <script>
        $(function(){
            $(".select_box").click(function(event){
                event.stopPropagation();
                $(this).find(".option").toggle();
                $(this).parent().siblings().find(".option").hide();
            });
            $(document).click(function(event){
                var eo=$(event.target);
                if($(".select_box").is(":visible") && eo.attr("class")!="option" && !eo.parent(".option").length)
                    $('.option').hide();
            });
            $(".option li").click(function(){
                var check_value=$(this).text();
                var smValue = $('.option li:eq(0)').html();
                var zzValue = $('.option li:eq(1)').html();
                var cbValue = $('.option li:eq(2)').html();
                $(this).parent().siblings(".select_txt").text(check_value);
                $("#select_value").val(check_value);
                if(check_value == smValue) {
                    $('#searchPlaceholder').prop('placeholder','请输入书名');
                    $('#select_value').prop('value','name');
                }else if(check_value == zzValue) {
                    $('#searchPlaceholder').prop('placeholder','请输入作者名');
                    $('#select_value').prop('value','author');
                }else if(check_value == cbValue) {
                    $('#searchPlaceholder').prop('placeholder','请输入出版社名称');
                    $('#select_value').prop('value','publish');
                }else {
                    $('#searchPlaceholder').prop('placeholder','请输入ISBN');
                    $('#select_value').prop('value','isbn');
                }
            });
        })
    </script>
</div>
<div class="banner"></div>
<div class="search_main">
    <div class="s-sort">
        <span id="modifytime" class="sort sort3">出版时间<i class="sort-img down-s"></i></span>
        <span id="createtime" class="sort sort3 desc">制作时间<i class="sort-img down"></i></span>
        <span id="title" class="sort sort3">题&nbsp;&nbsp;&nbsp;&nbsp;名<i class="sort-img down"></i></span>
        <!--top翻页-->
        <ul id="top_pages" class="top_pages f_right"><li class="prev"><a class="img_sprite disabled"></a></li><li class="pages"><span class="this_page">1</span>/<span class="all_page">1000</span></li><li class="next"><a class="img_sprite"></a></li></ul>
        <!--top翻页-->
        <span class="sort4">共 <span class="u-num-red result" cx_dolistpart="container" id="sortlist" cx_cdname="sortlist.recordcount" cx_cdconf="src=server&amp;rep=none">
		      14323</span> 条数据</span>
    </div>
    <div class="s-list">
        <div class="alert alert-danger alert-dismissible" role="alert" th:if="${not #strings.isEmpty(error)}" th:text="${error}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="s-page" th:if="${pageInfo.list.size()!=0}" th:each="book : ${pageInfo.list}">
            <a th:href="@{'book_detail.html?bookId='+${book.bookId}}"><img src="images/p-bigimage.jpg"></a>
            <div class="s-detailed" style="display: block;">
                <p>
                    <a class="t1" th:href="@{'book_detail.html?bookId='+${book.bookId}}" th:text="${book.name}" target="_blank"></a>
                </p>
                <p>
                    <span>作者：</span>
                    <font th:text="${book.author}"></font>
                </p>
                <p>
                    <span>ISBN：</span>
                    <font th:text="${book.isbn}"></font>
                </p>
                <p>
                    <span>分类：</span>
                    <font th:text="${book.classId}"></font></p>
                <p style="float: left;margin-right: 20px;">
                    <span>出版社：</span>
                    <font th:text="${book.publish}"></font></p>
                <p style="margin-right: 20px;">
                    <span>出版时间：</span>
                    <font th:text="${book.pubdate}"></font></p>
                <p class="s-summary">
                    <span>简介：</span>
                    <font th:if="${book.introduction.length()<100}" th:text="${book.introduction}"></font>
                    <font th:if="${book.introduction.length()>100}" th:text="${#strings.substring(book.introduction,0,100)}"></font>
                    <a th:href="@{'book_detail.html?bookId='+${book.bookId}}" target="_blank">查看详情&gt;&gt;</a></p>
            </div>
        </div>
    </div>
    <div class="m-page" th:if="${pageInfo.list.size()!=0}">
        <ul id="paging">
            <li class="prev">
                <a th:href="@{'search.html?searchType='+${searchType}+'&searchWord='+${searchWord}}">首页</a></li>
            <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                <a th:href="@{'search.html?searchType='+${searchType}+'&searchWord='+${searchWord}+'&pageNum='+${pageInfo.prePage}}">上一页</a></li>
            <li class="item" th:each="nav : ${pageInfo.navigatepageNums}" th:class="${nav == pageInfo.pageNum}?'active'">
                <a th:href="@{'search.html?searchType='+${searchType}+'&searchWord='+${searchWord}+'&pageNum='+${nav}}" th:text="${nav}"></a>
            </li>
            <li class="next" th:if="${pageInfo.hasNextPage}">
                <a th:href="@{'search.html?searchType='+${searchType}+'&searchWord='+${searchWord}+'&pageNum='+${pageInfo.nextPage}}">下一页</a></li>
            <li class="next">
                <a th:href="@{'search.html?searchType='+${searchType}+'&searchWord='+${searchWord}+'&pageNum='+${pageInfo.pages}}">尾页</a></li>
        </ul>
    </div>
</div>
<div class="footer">
    <div class="foot-bot">
        <div class="b" style="line-height: 155px;margin: 0 auto;text-align: center;">
            <span>Copyright © 2020 内蒙古农业大学职业技术学院</span>
            <span>- 图书馆</span>
        </div>
    </div>
</div>
</body>
</html>