.searchbox {
    position: relative;
    z-index: 1;
    clear: both;
    width: 630px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #fff;
    /* border: 2px solid #114397; */
}
.mod_select {
    position: absolute;
    left: 0;
    top: 0;
    width: 98px;
}
.mod_select .select_box {
    position: relative;
    width: 98px;
    height: 36px;
}
.mod_select .select_box .select_txt {
    display: inline-block;
    width: 98px;
    height: 36px;
    overflow: hidden;
    line-height: 36px;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
}
.mod_select .select_box .select-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0,-50%);
    width: 10px;
    height: 10px;
    background: url(../../images/search_ico.png) center no-repeat;
}
.mod_select .select_box .option {
    display: none;
    position: absolute;
    top: 40px;
    width: 98px;
    background-color: #fff;
    border-top: 0;
}
.mod_select .select_box .option li {
    font-size: 16px;
    line-height: 2;
    cursor: pointer;
}
.import {
    width: 426px;
    height: 40px;
    margin-left: 100px;
    padding-left: 20px;
    border: none;
    outline: none;
}
.searchbox .btn-search {
    position: absolute;
    right: 0;
    width: 50px;
    height: 40px;
    color: #fff;
    background: url(../../images/btn-search1.png) center no-repeat;
    border: 0;
}

